body {
    background-color: cadetblue;
}

.titre_1 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1em;
    border-radius: 50px;
    background-color: rgb(194, 189, 189);
}

form, .task_action, .task_list {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
    padding: 1rem;
    border-radius: 50px;
    background-color: rgb(194, 189, 189);

}



